<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About Us</h2>
            <h3 class="section-subheading text-muted">Illuminators is a not just a company, we are a revolution. Our mission is to help all the local businesses get an Online presence at minimal prices, to get the crowd & attention they deserve.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2020</h4>
                        <h4 class="subheading">Our Humble Beginnings</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">During peak covid time, we saw many small businesses suffering a lot due to Lockdown. We decided to do something about it & started planning.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>August 2021</h4>
                        <h4 class="subheading">An Agency is Born</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Here comes "Illuminators - Illuminate your online presence". We aimed to help small businesses who were completely dependent on offline customers, get a new way to do their business on.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>June 2022</h4>
                        <h4 class="subheading">Active Search</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">We actively started finding such businesses who can benefit from our services & are already working on some projects which will be deployed soon.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>PRESENT</h4>
                        <h4 class="subheading">Current Plan</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">We are already working on multiple projects that will soon be deployed. Aside this, we are also helping students to join us & learn the complete process of WebApp Development using Industry Trending technologies which will help in their career.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Story!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>