<header class="masthead">
    <div class="container">
        
        <div class="masthead-heading text-uppercase">Illuminators</div>
        <div class="masthead-subheading">Illuminate your online presence - Get your dream website built today</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#services">Know More</a>
    </div>
</header>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="section-subheading text-muted">We provide a wide variety of services which include - </h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Website Development</h4>
                <p class="text-muted">Get a fully working Web Application built for you. We tailor it specifically to your needs. Your business is more likely to be noticed with a website.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Responsive Design</h4>
                <p class="text-muted">All our projects are made to suit your needs so that you can get the attention you deserve. Our websites work flawlessly on all devices, whether it's the brand new Iphone 14, a laptop or 4 year old MI Phone.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-refresh fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Unlimited Revisions</h4>
                <p class="text-muted">Unlike others, we offer unlimited revisions so that your website can be changed as per Industry standards. We offer 2 free initial revisions too.</p>
            </div>
        </div>
    </div>
</section>