<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Portfolio</h2>
            <h3 class="section-subheading text-muted">Check out some of the projects we have already worked on</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" href="https://imagitor.cyclic.app/" target="_blank">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-arrow-up-right-from-square" style="height: 50px;"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/1.png" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Imagitor</div>
                        <div class="portfolio-caption-subheading text-muted">Image Editing WebApp</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="https://sumitk-hub1999.github.io/weatherappbasic/" target="_blank">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-arrow-up-right-from-square" style="height: 50px;"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/2.jpeg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Weather App</div>
                        <div class="portfolio-caption-subheading text-muted">Get latest Weather Info</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-arrow-up-right-from-square" style="height: 50px;"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/3.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">TBD</div>
                        <div class="portfolio-caption-subheading text-muted"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- Portfolio item 4-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-arrow-up-right-from-square" style="height: 50px;"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/4.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">TBD</div>
                        <div class="portfolio-caption-subheading text-muted"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <!-- Portfolio item 5-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-arrow-up-right-from-square" style="height: 50px;"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/5.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">TBD</div>
                        <div class="portfolio-caption-subheading text-muted"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Portfolio item 6-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-arrow-up-right-from-square" style="height: 50px;"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/6.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">TBD</div>
                        <div class="portfolio-caption-subheading text-muted"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>