<!DOCTYPE html>
<html>
<head>
<style>
div {background-image: url("https://img.freepik.com/free-photo/abstract-fire-desktop-wallpaper-realistic-blazing-flame-image_53876-147448.jpg?w=2000"); background-size: cover; font-size: 20px;}
h1 {text-align: center;text-shadow: 2px 2px #000000;}
h1 span {color: rgb(0, 0, 0); background-color: rgb(231, 255, 171); outline: 1px solid black;}
h4 {text-align: center; text-shadow: 2px 2px #000000;}
h4 span {color: rgb(0, 0, 0); background-color: rgb(179, 255, 159);outline: 1px solid black;}
form {text-align: center; text-shadow: 2px 2px #000000;}
</style>
</head>
<body>
<div>
<h1><span>New Form Submission!!</span></h1>
<br>
<h4><span>Name:<%= name %></span></h4>
<h4><span>Email: <%= email %></span></h4>
<h4><span>Phone: <%= phone %></span></h4>
<h4><span>Message: <%= message %></span></h4>
</div>
</body>
</html>